.div
	
	width: 100px
	height: 100px
	background-color: green
	left: 250px
	top: 200px
	position: absolute
	border-radius: 10px
	  

body
	width: 100%
	height: 100%
	margin: 0px
	
html
	height: 100%
	margin: 0px

.btn
	height: 50px
	width: 75px
	background-color: grey
	border-radius: 10px
	left: 5%
	top: 5%
	position: absolute


.div1
	transition : all 2s
	width: 100px
	height: 100px
	background-color: green
	position: absolute
	border-radius: 10px

	
	



